.main-form{
  height: 90vh;
  width: 80vw;
  margin: 5vh auto;

}

.add-comment-box{
  height: 20vh;
  width: inherit;
  border: 2px solid dodgerblue;
  background-color: deepskyblue;
}

.add-comment-inputs{
  width: 80%;
  margin: 0 auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.inputs{
  height: 10vh;
  width: 100%;
  margin-bottom: 1vh;
}

.submit{
  width: 100%;
}

.comments-box{
  height: 60vh;
  width: inherit;
  margin-top: 10px;
  border-top: 3px solid black;
  overflow-y: scroll;
}


.comment{
  border-bottom: 3px solid dodgerblue;
  height: fit-content;
  margin: 5px;

}

.last-comment{
  border-bottom: 10px solid dodgerblue;
  height: fit-content;
  margin: 5px;
}

.comment-name{
  margin: 2px;
  color:gray;
}
