.main-form{
  height: 90vh;
  width: 80vw;
  margin: 5vh auto;

}

.add-comment-box{
  height: 20vh;
  width: inherit;
  border: 2px solid red;
  margin-bottom: 9vh;
}

.comments-box{
  height: 60vh;
  width: inherit;
  border-top: 3px solid black;
  overflow-y: scroll;
}


.comment{
  border-bottom: 3px solid dodgerblue;
  height: fit-content;
  margin: 5px;

}

.last-comment{
  border-bottom: 10px solid dodgerblue;
  height: fit-content;
  margin: 5px;
}

.comment-name{
  margin: 2px;
  color:gray;
}
